body {
    background-image: 
    url(https://qph.fs.quoracdn.net/main-qimg-d017f29ccdb5cd2a29663e5bdfe99605.webp);
    background-repeat: repeat
}

h1 {
    color: #111;
    font-family: 'Saira Stencil One', cursive;
    font-size: 275px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    text-shadow: 10px 10px 15px #e73cae;
}

p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    text-shadow: #e73cae;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    margin: 20px;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border: none;
    text-decoration-color: blueviolet;
    text-decoration-line: line-through;
    text-decoration-style: wavy;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}